.tableitem{
	display:-webkit-box !important;            // 开启盒子模型
    display: box !important;
    -webkit-box-orient: horizontal;             //默认为水平方式，所以这句可以省略
}

.country, .city{
	 height: 15px;
	 width: 200px;
	 text-align: center;
	 box-flex:1;
     -webkit-box-flex:1; 
}

.horiz-item{
	 box-flex:1;
     -webkit-box-flex:1; 
}